.welcome_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* background-image: url('../../assets/images/elections/election_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: auto; */
}